.user-management-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.user-management-container h1 {
    margin-top: 0;
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Sono', sans-serif;
    font-weight: bold;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    background-color: #000000;
    color: #f9f9f9;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #333;
}

