.ProductsBtn {
    /* code to center the button */
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 20px;
    background-color: #ccfe06;
    color: #000000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.slideshow-container {
    margin: none;
    padding: none;
    display: flex; /* Add display: flex to enable flexbox */
    align-items: center;
    justify-content: center; /* Add justify-content: center to center horizontally */
    height: 81vh;
    width: 100vw;
}
    
.mySlides {
    /* No need for display: flex and justify-content here */
    height: 100%;
}
    
.slideshow-container img {
    max-height: 100%; /* Use max-height instead of height to maintain aspect ratio */
    width: auto;
}