/* View Products Button */

/*.products-button-container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */
.ProductsBtn {
    /* code to center the button */
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 20px;
    background-color: #ccfe06;
    color: #000000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}




/*  Index page Image  */

/*.index-image-container {
    max-width: calc(100% - 25px); /* 100% width minus 50px from each side 
    margin: 50px;
    /*height: 400px;*
}
    #index-image {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    } */



.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.mySlides {
    display: none;
}
img {
    width: 100%;
    height: auto;
}