/* Container for the whole page content */
.product-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--color4);
    border: 1px solid var(--color4);
    border-radius: 8px;
}

/* Product image styling */
.product-image {
    width: auto;
    height: 40vh;
    display: block;
    margin: 0 auto 20px;
}

/* Product details container */
.product-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding: 20px;
   color: var(--color1); 
}

/* Product title and description styling */
.product-title {
    font-size: 2em;
    margin-bottom: 10px;
}

.product-description {
    color: var(--color1);
    line-height: 1.6;
}

/* Add to cart button styling */
.add-to-cart-btn {
    background-color: var(--color1);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
    background-color: #555; /* Darker black */
    animation: pulse 1s infinite;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .product-details {
        grid-template-columns: 1fr;
    }
}


.review-btn {
    background-color: #000; /* Black */
    color: #fff; /* White */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.review-btn:hover {
    background-color: #555; /* Darker black */
    animation: pulse 1s infinite;
}

/* Keyframes for the button pulse animation */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    }
}.review-btn {
    background-color: #000; /* Black */
    color: #fff; /* White */
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.review-btn:hover {
    background-color: #555; /* Darker black */
    animation: pulse 1s infinite;
}

/* Keyframes for the button pulse animation */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    }
}