/* Code below is for the Main Content */

/* Container for products */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

/* Individual product styling */
.product {
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h2 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333; /* Adjust color as needed */
}

.product p {
    margin: 5px 0;
    color: #555; /* Adjust color as needed */
}

/* Add to cart button styling */
.add-to-cart {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    
}

.add-to-cart:hover {
    background-color: #45a049;
}


/* Quantity input styling */
.quantity {
    padding-top: 20px;
    margin-right: 60px;
  }
  .quantity input {
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
   
  button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  .minus-btn img {
    margin-bottom: 3px;
  }
  .plus-btn img {
    margin-top: 2px;
  }
   
  button:focus,
  input:focus {
    outline:0;
  }



/* Separator line styling */
.hr-line {
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 15px 0;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
    .product {
        width: 100%;
    }
}

/* Code beloq is for styliing the product containers*/
.product-container a {
    text-decoration: none;
    color: inherit; /* This ensures the color of the links is consistent with your text color */
}

.product-container a:hover {
    text-decoration: underline;
    color: var(--color2); /* Change the color on hover */
}