/* Code below is for the Main Content */

/* Container for products */
.product-container {
    display: grid; /*grid layout */
    grid-template-columns: repeat(4, minmax(300px, 1fr)); /* auto-fill to create flexible grid cells */
    gap: 20px; /*gap between grid cells */
    margin: 20px;
}

/* Individual product styling */
.product {
    width: 300px;
    margin: 10px 20px;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    grid-column: span 3;
   
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h2 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333; /* Adjust color as needed */
}

.product p {
    margin: 5px 0;
    color: #555; /* Adjust color as needed */
    text-align: center;
    display: flex; /* Change to flex container */
    flex-direction: column;
    align-items: center;
}

.add-to-cart-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 4;
}
.price {
    font-size: 1.5em; /* larger font for price */
    margin: 10px 0;
    text-align: center;
    
}

.product-details p {
    margin: 5px 0;
    color: #ffffff;
    text-align: left; /* Ensure consistent alignment */
}
/* Add to cart button styling */
.add-to-cart  {
    
    background-color: var(--color2);
    border: 1px solid var(--color2);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 10px 75px;
    
   
    
  }
  
  .add-to-cart:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
  }

 
  @media (min-width: 768px) {
    .add-to-cart {
      padding: 10px 30px;
    }
  }




/* Quantity input styling */
.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  .quantity input {
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
   
  button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  .minus-btn img {
    margin-bottom: 3px;
  }
  .plus-btn img {
    margin-top: 2px;
  }
   
  button:focus,
  input:focus {
    outline:0;
  }



/* Separator line styling */
.hr-line {
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 5px 0;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
    .product {
        width: 100%;
        grid-column: span 4;
    }
}

/* Code below is for styling the product containers*/
.product-container a {
    text-decoration: none;
    color: inherit; /* This ensures the color of the links is consistent with your text color */
}

/*styling the description separate to the other details*/
.product-descripton a 
{
    text-decoration: none;
    color: inherit; /* This ensures the color of the links is consistent with your text color */
    margin: 10px;
    
}

.product-container a:hover {
    text-decoration: underline;
    color: var(--color2); /* Change the color on hover */
}