.category-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    /* Add more styling as needed */
}

.category {
    margin: 0 30px;
    color: var(--color2); /* Yellow 1 */
    text-transform: uppercase;
    cursor: pointer;
    /* Add more styling as needed */
}

.arrow {
    cursor: pointer;
    color: var(--color2); /* Yellow 1 */
    font-size: 2em;
    /* Add more styling as needed */
}

.left-arrow {
    margin-right: 20px;
}

.right-arrow {
    margin-left: 20px;
}

/* Sections for products */
#featured-products,
#popular-products,
#new-products {
    background-color: var(--color1); /* Black */
    color: var(--color4); /* White 1 */
    padding: 20px;
    margin-bottom: 20px;
    /* Add more styling as needed */
}

/* need to add responsive styling for smaller devices */




.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product {
    background-color: #fff; /* Assuming white background for products */
    /* Add more styling as needed */
}
