/* CSS for a 5-color palette */

:root {
    --color1: #000000; /* Black */
    --color2: #c2ee0a; /* Yellow 1 */
    --color3: #ccfe06; /* Yellow 2 */
    --color4: #eceff1; /* White 1 */
    --color5: #ffffff; /* White 2 */
    --formcolor: #aaaaaa;
    --font1: 'Anton', sans-serif;
    --font2: 'HK Grotesk', sans-serif;
}

/* Code below is for new nav bar prototype */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color1); /* Black */
    color: var(--color4); /* White 1 */
}

header {
    background-color: transparent;
    color: var(--color2); /* Yellow 1 */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-container {
    display: flex;
    align-items: center;
    color: var(--color4); /* White 1 */
}

#logo {
    max-width: 60px;
    max-height: 60px;
    margin-right: 10px;
}

h1 {
    margin: 0;
    font-size: 1.5em;
}

#search-container {
    display: flex;
    align-items: center;
}

#search-bar {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid var(--color4); /* White 1 */
    border-radius: 4px;
}

#search-button {
    background-color: var(--color4); /* White 1 */
    outline: var(--color4); /* White 1 */
    color: var(--color1); /* Black */
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

nav {
    display: flex;
}

nav a {
    color: var(--color4); /* White 1 */
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: var(--color3); /* Yellow 2 */
}

#cart-container {
    position: relative;
}

#cart-icon {
    max-width: 30px;
    cursor: pointer;
}

#cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: var(--color3); /* Yellow 2 */
    color: var(--color1); /* Black */
    font-size: 12px;
    border-radius: 50%;
    padding: 4px 8px;
}



/* Code for signup form */

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

    .signup-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        max-width: 600px;
        width: 100%;
        padding: 20px;
        border: none;
        background-color: var(--formcolor);
        color: #000000;
        margin-bottom: 100px;
        text-transform: uppercase;
    }

    form {
        display: grid;
        gap: 10px;
    }

    label {
        font-weight: bold;
    }

    input,
    textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    h2{
        font-family: var(--font1);
        font-weight: 700;
        font-style: italic;
        text-align: center;
        margin-bottom: 20px;
    }

    .signup-container input{
        background-color: var(--color3);
        color: var(--color1);
        font-family: var(--font2);
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }
    .signup-container ::placeholder{
        color: var(--color1);
    }

    input[type="submit"], input[type="reset"] {
        background-color: #000000; /* Use the yellow 2 color from the palette */
        color: var(--color3); /* Use the black color from the palette */
        cursor: pointer;
        padding: 10px;
        border: none;
        border-radius: 4px;
    }




/* Code below is for the Footer */

footer {
    background-color: var(--color3); /* Yellow 2 */
    color: #333;
    padding: 20px 0;
}

    .footer-container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .footer-links {
        display: flex;
    }

    .footer-links a {
        color: #333;
        text-decoration: none;
        margin: 0 15px;
        font-weight: bold;
    }

    .footer-links a:hover {
        color: var(--color4); /* White 1 */
    }
