/* CSS for a 5-color palette */

:root {
    --color1: #000000; /* Black */
    --color2: #c2ee0a; /* Yellow 1 */
    --color3: #ccfe06; /* Yellow 2 */
    --color4: #eceff1; /* White 1 */
    --color5: #ffffff; /* White 2 */
  }
  

  /* Codeb below is for new nav bar prototype */

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    max-width: 100px;
    max-height: 50px;
}

nav {
    display: flex;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

#cart-icon {
    max-width: 30px;
    cursor: pointer;
}


  /* Example usage 
  body {
    background-color: var(--color1);
    color: var(--color5);
  }
  
  .button {
    background-color: var(--color3);
    color: #fff;
  }
  
  .header {
    border-bottom: 2px solid var(--color2);
  }
  
  .footer {
    background-color: var(--color4);
    color: #fff;
  }
  */